<div class="container">
  <form  method="post" enctype="multipart/form-data">

<header class="pageHeader">
  <h3><i class="fa fa-handshake-o fa-lg page-caption" aria-hidden="true"></i> </h3>
</header>

                <dx-data-grid 
                id="gridContainer"
                [dataSource]="dataSource"
                [showBorders]="true" 
                [rtlEnabled]="true"
                [hoverStateEnabled]="true"
                [selectedRowKeys]="[]"
                (onToolbarPreparing)="onToolbarPreparing($event)"
              >    
                <dxo-paging [pageSize]="20"></dxo-paging>
                <dxo-pager 
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[20, 50, 100]"
                [showInfo]="true">
            </dxo-pager>
               
            
            <dxo-export [enabled]="true" fileName="Vehicle"></dxo-export>
            
            <dxo-header-filter 
            [visible]="true"></dxo-header-filter>
            <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
            
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>

            <dx-load-panel
                #loadPanel
                shadingColor="rgba(0,0,0,0.4)"
                [position]="{ of: '#gridContainer' }"
                [(visible)]="loadingVisible"
                [showIndicator]="true"
                [showPane]="true"
                [shading]="true"
                [closeOnOutsideClick]="false"
                (onShown)="onShown()">
            </dx-load-panel>
            
            <dxi-column dataField="ahwalname" caption="الأحوال" ></dxi-column>
            <dxi-column dataField="platenumber" caption="رقم الدورية"></dxi-column>
            <dxi-column dataField="statename" caption="الحالة"></dxi-column>
            <dxi-column dataField="model" caption="موديل"></dxi-column>
            <dxi-column dataField="type" caption="type" ></dxi-column>
            <dxi-column dataField="milnumber" caption="الرقم العسكري"></dxi-column>
            <dxi-column dataField="personrank" caption="الرتبه"></dxi-column>
            <dxi-column dataField="personname" caption="الاسم"></dxi-column>
              </dx-data-grid>
          </form>
</div>
