.maplnk{
    background-image: "../../../../assets/images/haritayikaydir_r_glow.png"  ;
    background-repeat: no-repeat;
    display:block;
    width: 2149px;
    height: 49px;
    padding: 0 0 0 10px;
    border: 0px;
    margin: 0px;
}